<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/egov?useUnicode=true&amp;characterEncoding=gbk&amp;autoReconnect=true&amp;failOverReadOnly=false</property>
	    <property name="hibernate.connection.username">root</property>
	    <property name="hibernate.connection.password">123123</property>
	    
	    <!-- 显示生成的SQL语句 -->
	    <property name="show_sql">true</property>
	    
	    <property name="format_sql">true</property>
	    <!-- 方言 -->
	    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	    
	    <!-- 默认从classpath下查找 -->
	    <mapping resource="com/bjpowernode/hibernate/bean/User.hbm.xml"/>
	</session-factory>
</hibernate-configuration>